<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /> --}}
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Document</title>
</head>
<body class="signin">

  {{!-- <div class="card"> --}}
		<div class="card__inner">
			<div class="card__face card__face--front">
        <div class="signinFormContainer">
          <form class="signinFormContainer" action='/login' method='POST'>
              <input class="loginInput" style="border:none" type='email' name='email' placeholder='E-Mail' required/>
              <input class="loginInput" style="border:none"type='password' name='password' placeholder='Password'/>
              <button class="loginSubmit" style="border:none"type='submit'>Log in</button>
          </form>
          <p class="flipCard">Don't have an account sign up here</p>
          
        </div>				
			</div>
			<div class="card__face card__face--back">
				<div class="card__content">       
            <div class="signinFormContainer">
              <form class="signinFormContainer" action='/signup' method='POST'>
              <input class="loginInput" style="border:none" type='text' name='username' placeholder='Username' required/>
              <input class="loginInput" type='email' style="border:none" name='email' placeholder='E-Mail' required/>
              <input class="loginInput"  type='password' style="border:none" name='password' placeholder='Password'/>
              <select class="dropdown" style="border:none" name='toolsAvailable' id='toolsAvailable' multiple>
                  {{#each tools}}
                    <option  value='{{_id}}'>{{name}}</option>
                  {{/each}}
              </select>
              <button class="loginSubmit" style="border:none" type='submit'>Sign up</button>
              </form>
              {{!-- The custon dropdown does not work because it can´t handle type: Schema.Types.ObjectId --}}

              {{!-- <div class="multi-selector">
              <div class="select-field">
               <input type="text" name="" placeholder="Choose tasks" id="" class="input-selector">
              <span class="down-arrow">&blacktriangledown;</span>
              </div>
         <!---------List of checkboxes and options----------->
              <div class="list">
                 {{#each tools}}
                  <label for="task1" class="task">
                     <input type="checkbox" name="toolsAvailable" value="{{_id}}">
                     {{name}}
                     <span>10 mins</span>
                  </label>
                 {{/each}}
              </div> --}}
              <p class="flipCard2">Have an account? Log in here</p>
         </div>
              
              
    
            </div>					
					</div>
				</div>
			</div>
		</div>
	{{!-- </div> --}}


    

{{#if errorMessage}}
  {{errorMessage}}
{{/if}}

<script src="/js/customDropDown.js"></script>
<script src="/js/flipAnimation.js"></script>


</body>
</html>


