{{#with userDetails}}
  <h1>Welcome {{username}}</h1>

  <img src='{{imageUrl}}' alt='Profile Picture' />

  <h3>Name: {{username}}</h3>
  <h3>Location: {{location}}</h3>
  <h3>E-Mail: {{email}}</h3>
  <h3>Phone: {{phone}}</h3>

  <h3>I am offering:</h3>
  <h3>{{offer}}</h3>


  <h3>Tools:</h3>
  <ul>
    {{#each tools}}
      <h3>{{this}}</h3>
    {{/each}}
    {{#each toolsAvailable}}
      <h3>{{name}}</h3>
    {{/each}}
  </ul>

{{/with}}
<h3>Reviews To Be Added...</h3>

<form action='/profile/edit' method='GET'>
  <button type='submit'>Edit</button>
</form>