<h1>Add new Projects</h1>

<h3>Current Projects</h3>

{{#each projects}}
   <div class="projectContainer">
      <h4>{{projectname}}</h4>
      <div class="buttonContainer">
         <button class="viewDetails"><a href="/post-project/{{_id}}">View Details</a></button>
         <button class="edit"><a href="/post-project/edit/{{_id}}">Edit</a></button>
         <button> <a href="/chat-app/{{_id}}">Chat</a></button>
      </div>      
      <div class="close2"><a href="/post-project/delete/{{_id}}">+</a></div>
   </div>

{{/each}}

<button id="addProjectButton">Add new Project</button>

{{!-- Custom dropdown --}}

{{!-- <div class="multi-selector">
     <div class="select-field">
      <input type="text" name="" placeholder="Choose tasks" id="" class="input-selector">
     <span class="down-arrow">&blacktriangledown;</span>
     </div>
<!---------List of checkboxes and options----------->
     <div class="list">
        {{#each tools}}
        <label for="task1" class="task">
            <input type="checkbox" name="" id="task1">
            {{name}}
            <span>10 mins</span>
         </label>
        {{/each}}
     </div>
</div>  --}}

{{!-- Modal Section --}}

{{!-- Add project modal --}}

<div class="bg-modal">   
   <div class="modal-content">
      <div class="close">+</div>
      <h1>Add a new project</h1>
      <form action="/post-project" method="POST">
         <label for="projectname">Project Name</label>
         <input type="text" name="projectname" id="projectname">
         <label for="description">Description</label>
         <input type="text" name="description" id="description">
         <label for="toolsNeeded">Required Tools</label>
         {{!-- The custon dropdown does not work because it can´t handle type: Schema.Types.ObjectId --}}
         
         {{!-- <div class="multi-selector">
              <div class="select-field">
               <input type="text" name="" placeholder="Choose tasks" id="" class="input-selector">
              <span class="down-arrow">&blacktriangledown;</span>
              </div>
         <!---------List of checkboxes and options----------->
              <div class="list">
                 {{#each tools}}
                  <label for="task1" class="task">
                     <input type="checkbox" name="toolsNeeded" value="{{_id}}">
                     {{name}}
                     <span>10 mins</span>
                  </label>
                 {{/each}}
              </div>
         </div>  --}}
         <select name="toolsNeeded" id="toolsNeeded" multiple="multiple">
             {{#each tools}}
               <option value="{{_id}}">{{name}}</option>
            {{/each}}
         </select>
         <button type="submit">Add this project</button>
      </form>
   </div>   
</div>

   
